about-time==4.2.1
alive-progress==3.1.5
click==8.1.7
cycler==0.11.0
fonttools==4.38.0
grapheme==0.6.0
importlib-metadata==6.7.0
importlib-resources==5.12.0
kiwisolver==1.4.5
libusb==1.0.26b5
libusb1==3.1.0
matplotlib==3.5.3
numpy==1.21.6
packaging==23.2
Pillow==9.5.0
pkg-about==1.0.8
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyserial==3.5
python-dateutil==2.8.2
six==1.16.0
tomli==2.0.1
typing_extensions==4.7.1
zipp==3.15.0
